.timer {
  display: flex;
  gap: 27px;
  width: 346px;
  height: 72px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
}

input {
  box-sizing: border-box;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  margin-bottom: 32px;
  margin-right: 8px;
  width: 272px;
  height: 40px;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  outline: none;
}

input:hover {
  border: 1px solid #000;
}

input:active {
  border: 1px solid #4e75ff;
}

input:disabled {
  background: #fafafa;
  border: 1px solid #808080;
  color: #808080;
}

button {
  background: #4e75ff;
  color: #ffffff;
  border: none;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  width: 75px;
  height: 40px;
  border-radius: 8px;
  padding: 8px 16px;
}

button:disabled {
  color: #989898;
  background: #cfcfcf;
}

button:hover {
  background: #6c8cff;
}

.value {
  /* display: block; */
  text-align: center;
  width: 56px;
  height: 48px;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
  letter-spacing: 1.6px;
}

.label {
  text-transform: uppercase;
  display: block;
  text-align: center;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
