form {
  width: 1440px;
  height: 496px;
}

.label-delay {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label-delay input {
  padding: 8px 16px;
  box-sizing: border-box;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  outline: none;
  margin-bottom: 24px;
}

.label-delay input:hover {
  border: 1px solid #000;
}

.label-delay input:active,
.label-delay input:focus {
  border: 1px solid #4e75ff;
}

label {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
}

fieldset {
  border-radius: 4px;
  border: 1px solid #808080;
  box-sizing: border-box;
  width: 360px;
  margin-bottom: 24px;
  display: flex;
  gap: 48px;
  padding-top: 24px;
  padding-left: 48px;
  stroke-width: 1px;
  stroke: #808080;
}

fieldset:hover {
  border: 1px solid #000;
}

legend {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
}

button {
  box-sizing: border-box;
  width: 360px;
  height: 40px;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  width: 360px;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  border: none;
}

button:hover {
  background: #6c8cff;
}
